{{ define "main" }} {{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ $paginator := .Paginate ($posts.ByDate.Reverse) }} {{ if not
$paginator.HasPrev }}
<section class="flex flex-col items-center pt-10 pb-16">
  {{ partial "picture.html" (dict "src" .Site.Params.profilePhoto "alt"
  .Site.Params.author "class" "mb-5 w-32 h-32 rounded-full" "sizes" "256x") }}
  <p class="text-gray-300">Hi 👋 I'm Sean. I'm a software developer.</p>
</section>
{{ end }}
<div class="py-10 px-6 mx-auto max-w-2xl">
  {{ range $index, $post := $paginator.Pages }}
  <article>
    <a href="{{ .RelPermalink }}" class="flex gap-6 items-start py-5 group">
      {{ partial "post-date.html" .Date }}
      <div class="min-w-0 grow">
        <h2 class="text-lg font-bold group-hover:text-gray-400 truncate">
          {{ .Title }}
        </h2>
        <p class="mt-1 text-sm text-gray-400 line-clamp-2">{{ .Summary }}</p>
      </div>
    </a>
  </article>
  {{ if ne $index (sub (len $paginator.Pages) 1) }}
  <hr class="border-gray-700" />
  {{ end }} {{ end }} {{ partial "pagination.html" $paginator }}
</div>
{{ end }}
