---
title: Tags
layout: default.liquid
permalink: /tags/
---

<div class="py-10 px-6 mx-auto max-w-2xl">
    <h1 class="mb-8 font-sans text-3xl font-bold">Tags</h1>
    {% for tag in collections %}
        {% unless tag[0] == "all" or tag[0] == "posts" or tag[0] == "featured" %}
        <article>
            <a href="/tags/{{ tag[0] }}/"
               class="flex gap-6 items-center py-5 border-b border-gray-700 last:border-0 group">
                <h2 class="min-w-0 text-lg font-bold group-hover:text-gray-400 grow truncate">{{ tag[0] | capitalize }}</h2>
                <span class="text-sm text-gray-400 shrink-0">{{ tag[1].size }}
                    {% if tag[1].size == 1 %}
                        post
                    {% else %}
                        posts
                    {% endif %}
                </span>
            </a>
        </article>
    {% endunless %}
{% endfor %}
</div>
